body {
  background-color: lightgray;
}
#container {
  display: grid;
  height: 100vh;
}
#drum-machine {
  width: 430px;
  height: 268px;
  display: grid;
  grid-template-columns: 143px 143px 143px;
  grid-row-gap: 10px;
  justify-self: center;
  align-self: center;
  background-color: #0c2340;
  border-radius: 10px;
  border: 4px ridge #e31937;
  padding: 20px;
}
.drum-pad {
  background-color: #e31937;
  border: 2px ridge lightgray;
  color: white;
  justify-self: center;
}

#display-container {
  display: grid;
  grid-template-columns: 430px;
}
#display {
  color: white;
  border: 2px ridge lightgray;
  justify-self: center;
  padding: 3px;
  width: 60px;
  height: 17px;
  text-align: center;
  border-radius: 9px;
}
